$charcoal-grey: #212121;
$slate-grey: #494949;
$light-grey: #cdcdcd;
$medium-grey: #989898;
$dark-grey: #757575;
$danger: #d10000;
$kohler-blue: #022e49;
$stone-grey: #424242;
$cool-grey: #a9a9a9;
$off-white: #f9f9f9;
$carbon: #5d5d5d;

$font-regular: 'HelveticaNowTextRegular';
$font-medium: 'HelveticaNowTextMedium';
$font-bold: 'HelveticaNowTextBold';

.asr-btn {
  width: 200px;
  height: 50px;
  outline: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  font-family: $font-medium;
  letter-spacing: -0.35px;
  transition: all 0.2s ease;

  &__primary {
    background-color: $charcoal-grey;
    color: #fff;

    &:disabled {
      background-color: $light-grey;
      cursor: default;
    }
  }

  &__ghost {
    background-color: transparent;
    border: 1px solid $slate-grey;
    color: $slate-grey;

    &:disabled {
      border: 1px solid $medium-grey;
      color: $medium-grey;
      cursor: default;
    }
  }

  &.loading {
    pointer-events: none;
    opacity: 0.9;
  }

  &:hover {
    transform: scale(1.025);
  }

  &:disabled {
    &:hover {
      transform: none;
    }
  }
}
